.pio

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Analysis
*.map

# vscode
.vscode/*

# Eagle
*.b\#*
*.s\#*
*.l\#*

# LochMaster
*.OLD
*.BAK

# Allow board configs outside of source control
include/config-user.h
